.todo-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(10px + 12 * (100vw / 1280)) 0;
  gap: 12px;
}

.todo-list__ul-item {
  display: flex;
  font-size: calc(12px + 5 * (100vw / 1280));
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: calc(8px + 6 * (100vw / 1280));
  background: whitesmoke;
  border-radius: 15px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.edit-button, .delete-button {
  background-color: rgb(226, 226, 226);
  border-radius: 6px;
  padding: 4px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

