.todo-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab';
}

.todo-list__ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(10px + 12 * (100vw / 1280)) 0;
  padding: 0 calc(10px + 75 * (100vw / 1280));
  gap: 12px;
}

.todo-list__ul-item {
  width: 100%;
  display: flex;
  font-size: calc(15px + 15 * (100vw / 1280));
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: calc(8px + 6 * (100vw / 1280));
  background: whitesmoke;
  border-radius: 15px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.edit-button,
.delete-button {
  background-color: #e2e2e2;
  border-radius: 6px;
  padding: 4px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  transition: all 0.2s;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #d4d4d4;
}
